/* reset styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: lightblue;
    max-width: 1200px;
    margin:  0 auto;
    height: 100vh;
    position: relative;
}

.item {
    width: 300px;
    height: 100px;
    border: 1px solid #333;
}

/* position: relative, absolute, fixed, sticky, static */

.relative {
    background-color: lightsalmon;
    /* position: relative;
    top: 30px;
    left: 70px; */
}
.absolute {
    background-color: lightseagreen;
    position: absolute; 
    top: 20px;
    left: 30px; 
    z-index: 4;
}

.item:nth-of-type(3){
    background-color: blueviolet;
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 2;
}
.item:nth-of-type(4){
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 50px; 
    left: 50px;
    z-index: 3;
}