*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 100px auto;
    background-color: bisque;
}

.container {
    font-size: 20px;
    /* padding: 20px; */
    color: #333;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.item {
    background-color: lightgreen;
    border: 2px solid #333;
    padding: 20px;
}

.item:nth-of-type(1){
    background-color: #333;
    color: #fff;
    grid-column: 1 / span 2;
    grid-row: 1/3;
}
.item:nth-of-type(5){
    background-color: lightcoral;
    color: #333;
    grid-column: 2/4;
    grid-row: 3/5;
}

@media (max-width: 760px){
    .container{
        display: flex;
        flex-direction: column;
    }
}