body{
    background: beige;
    max-width: 1200px;
    margin: 0 auto;
}

.first {
    background-color: rgb(214, 95, 95);
    font-size: 25px;
     /* position: relative;  */
}

#second {
    background-color: rgb(238, 228, 31);
    position: sticky;
    top: 30px;
    left: 600px;
    width: 150px;
}
#parent {
    width: 600px;
    height: 500px;
    border: 1px solid black;
    position: relative;
}

#box-1 {
    /* width: 100px;
    background-color: red;
    height: 100px; */
    font-size: large;
    color: red;
    position: absolute;
    top: 60px;
    left: 100px;
}