*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* max-width: 1200px;
    margin: 60px auto; */
    background-color: lightblue;
    height: 100vh;
    display: flex;
    /* flex-direction: column;  */
    /* flex-wrap: wrap;  */
    /* flex-flow: row wrap; */
    /* gap: 10px; */
    justify-content: start;
    align-items: start;
}

.item{
    font-size: 20px;
    border: 1px solid #333;
    width: 300px;
    height: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-of-type(1){
    background-color: lightsalmon;
}
.item:nth-of-type(2){
    background-color: lightseagreen;
}
.item:nth-of-type(3){
    background-color: #000;
    color: #fff;
}
.item:nth-of-type(4){
    background-color: lightcoral;
}